<div class="post-list">
    <a class="post" href="<%= edit_post_path(@post) %>">
        <div class="header">
            <h2 class="title"><%= @post.title %></h2>
            <p class="timestamp"><%= @post.created_at.strftime("%B %d, %Y") %></p>
        </div>
        <div class="body">
            <p class="content"><%= @post.content%></p>
        </div>
        <div class="image">
            <%= image_tag(@post.image) if @post.image.attached? %>
        </div>
        <div class="favorite">
            <% if @post.favorited?(current_user) %>                
                <%= link_to "いいねを外す。", destroy_favorite_path(post_id: @post.id), method: :delete, class: "btn btn-danger" %>
            <% else %>
                <%= link_to "いいね！", create_favorite_path(post_id: @post.id), method: :post, class: "btn btn-success" %>
            <% end %>             
        </div>
    </a>
</div>

<div class="comment-form-container">
    <div class="comment">
        <%= form_with(url: create_comment_path(@post), model: @comment, local: true, method: :post) do |f| %> 
            <% if @comment.errors.any? %>
                <ul>
                    <% @comment.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %> 
                </ul>
            <% end %>

            <div class="form">
                <div class="textarea">
                    <%= f.label "コメント", class: 'form-label' %>
                    <%= f.text_field :content, class: 'form-control' %>
                </div>

                <div class="button-group">
                    <%= f.submit '送信', class: 'btn btn-primary' %>
                </div>
            </div>
        <% end %>        
    </div>
    
</div>

<div class="comment-list">
    <% @comments.each do |comment| %>
        <div class="comment">
            <div class="body">
                <p class="name"><%= @user_profile.name %></p>
                <p class="content"><%= comment.content %></p>
                <p class="timestamp"><%= comment.created_at.strftime("%B %d, %Y") %></p>
                <% if @reported_user != current_user.id %>
                    <p class="button-group">
                        <button type="button" class="btn btn-secondary dropdown-toggle">
                            <%= render 'reports/new_comment', comment_id: comment.id %>
                        </button>        
                    </p>
                <% end %>
            </div>
        </div>
    <% end %>    
</div>