<%= turbo_frame_tag dom_id(notification) do %>
    <li data-notification-id="<%= notification.id %>" class="<%= notification.unread? ? 'unread' : '' %> dropdown-item">
        <%= link_to index_notification_path(notification), 
        method: :patch, 
        data: { turbo_method: :patch } do %>
            <%= icon 'fas', 'check' %>
        <% end %>
        <%= generate_notification_message(notification)%>
        <span class="notification-time"><%= time_ago_in_words(notification.created_at) %> ago</span>
    </li>
<% end %>