<div class="search-container">
  <%= form_with url: index_post_path, class: "form", method: :get, local: true do |form| %>
    <input class="input" type="text" name="title" placeholder="タイトルで検索" value="<%= params[:title] %>">
    <%= form.submit "検索", class: "button" %>
  <% end %>
</div>

<div class="post-list">
  <% @posts.each do |post| %>
    
    <div>
      <%= link_to post.user.user_profile.name,show_follow_path(post.user_id)%>
    </div>
    <a class="post" href="">
      <div class="header">
        <h2 class="title"><%= post.title %></h2>
        <p class="timestamp"><%= post.created_at.strftime("%B %d, %Y") %></p>
      </div>
      <div class="body">
        <p class="content"><%= post.content %></p>
      </div>
      <div class="image">
        <%= image_tag(post.image) if post.image.attached? %>
      </div>
      <div class="">
        <% if current_user.id == Post.find(params[:post_id]).user.id %>
          <%= link_to destroy_favorite_path, method: :delete, class: "btn btn-danger" %>
        <% else %>
          <%link_to create_favorite_path, method: post, class: "btn btn-success" %>
        <% end %>
      </div>

    </a>
  <% end %>
</div>